<div class="container px-4 px-lg-5">
  <div class="row gx-4 gx-lg-5 justify-content-center">
    <div class="col-md-10 col-lg-8 col-xl-7">
      <!-- Post preview-->
      <div class="post-preview">
          <p>
            <h2 class="post-title text-center my-4"><%= @post.title %></h2>
            <h3 class="post-subtitle text-right"><%= @post.content%></h3>
            <% Tag.where(post_id: @post.id).each do |tag| %>
              <span>#<%= tag.tag_name %></span>
            <% end %>
          </p>
          <p class="post-meta">
            Posted by <%= User.find(@post.user_id).name  %>
            on <%= @post.created_at.strftime("%B %d, %Y") %>
          </p>
      </div>
      <!-- Divider-->
      <hr class="my-4" />
      <!-- Pager-->
      <% if current_user == nil || current_user.id != @post.user_id%>
        <div class="d-flex mb-5 mt-2 div_post justify-content-between">
          <%= link_to "New Comment", new_post_comment_path(@post), class:"btn btn-primary rounded text-uppercase"%>
          <%= link_to "New Tag", new_post_tag_path(@post), class:"btn btn-primary rounded text-uppercase"%>
        </div>
      <% else %>
        <div class="d-flex mb-5 mt-2 div_post justify-content-between">
          <%= link_to "Edit Post", edit_post_path(@post), class:"btn btn-primary rounded text-uppercase"%>
          <%= link_to "New Comment", new_post_comment_path(@post), class:"btn btn-primary rounded text-uppercase"%>
          <%= link_to "New Tag", new_post_tag_path(@post), class:"btn btn-primary rounded text-uppercase"%>
          <%= link_to "Delete this Post", post_path(@post), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class:"btn btn-primary rounded text-uppercase"%>
        </div>

      <% end %>
      <div>
        <% @post.comments.each do |comment| %>
          <div class="post-preview">
              <p>
                <% if  comment.user_id == 0 || comment.user_id == nil%>
                  <h4>Anonymous User</h4>
                <% else %>
                  <h4><%= User.find(comment.user_id).name %></h4>
                <% end %>
                <h5 class="post-title text-right my-4"><%= comment.content %></h5>
              </p>
              <p class="post-meta">
                Created on <%= comment.created_at.strftime("%B %d, %Y") %>
              </p>
          </div>
          <!-- Divider-->
          <hr class="my-4" />
        <% end %>
      </div>
      <div class="d-flex justify-content-start mb-4">
        <a class="btn btn-primary text-uppercase" href="<%=posts_path%>">
          ← Get back to Posts
        </a>
      </div>
    </div>
  </div>
</div>
