<p> <%=t('hello_email',email: @resource.email) %>!</p>

<p><%=t('Reset_password_instructions_someone') %></p>

<p><%= link_to (t'Reset_password_instructions_link'), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%=t('Reset_password_instructions_request') %></p>
<p><%=t('Reset_password_instructions_password') %></p>
